<p class="kayanyazi">
  <span>
    <b>BTC</b>&nbsp;16,588.39
    <b class="mr-10"></b>
    <b>XRP</b>&nbsp;6.32
    <b class="mr-10"></b>
    <b>ETH</b>&nbsp;305.36
    <b class="mr-10"></b>
    <b>EOS</b>&nbsp;28.44
    <b class="mr-10"></b>
    <b>USDT</b>&nbsp;1.01
    <b class="mr-10"></b>
    <b>LTC</b>&nbsp;325.61
    <b class="mr-10"></b>
    <b>XLM</b>&nbsp;0.10
    <b class="mr-10"></b>
    <b>TRX</b>&nbsp;19.23
    <b class="mr-10"></b>
    <b>BSV</b>&nbsp;18.88
    <b class="mr-10"></b>
    <b >ADA</b>&nbsp;7.81
  </span>
</p>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <h3 class="font-weight-bolder">
        <span>{{ "SHARED.HEADER_TEXT" | translate }}</span>
      </h3>
      <div class="text-dark-50 font-size-lg mt-2">
        <span>{{ "HOME.HEADER_TEXT_DESC" | translate }}</span>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="#" class="btn btn-primary font-weight-bold py-3 px-6">{{ "SHARED.CONNECT_WITH_US" | translate }}</a>
    </div>
  </div>
</div>

<div class="row mt-10">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
    <span style="color: #aaa;line-height: 1.25;font-weight: 500;letter-spacing: 0.075em;">
      {{ "HOME.INS_DIG_ASSETS_PLAT" | translate }}
    </span>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12">

    <h2 class="card-label">
      {{ "HOME.SERVICES_CUSTODY" | translate }}
    </h2>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_CUSTODY_WALLET_PLATFORM" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_WALLET_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="/services/custody/wallet-platform" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
      <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_CUSTODY_QUALIFIED" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_QUALIFIED_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="/services/custody/qualified-custody" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_CUSTODY_SELF_MANAGED" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_CUSTODY_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="/services/custody/self-managed-custody" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12">

    <h2 class="card-label">
      {{ "HOME.SERVICES_PRIME_SERVICES" | translate }}
    </h2>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_PS_PRIME_TRADING" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_PRIME_TRADING_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="/services/prime/prime-trading" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_PS_PRIME_LENDING" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_PRIME_LENDING_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_PS_SETTLEMENT" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_SETTLEMENT_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12">
    <h2 class="card-label">
      {{ "HOME.SERVICES_PORTFOLIO_TOOLS" | translate }}
    </h2>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_PT_PORTFOLIO_MANAGEMENT" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_PT_PORTFOLIO_MANAGEMENT_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_PT_TAX" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_PT_TAX_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12">
    
    <h2 class="card-label">
      {{ "HOME.SERVICES_API" | translate }}
    </h2>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_API_WALLETS_SDK" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_API_WALLETS_SDK_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-custom example example-compact gutter-b ng-star-inserted">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">
            {{ "HOME.SERVICES_API_TRADE_EXECUTION_SDK" | translate }}
          </h3>
        </div>
      </div>
      <div class="card-body services">
        <div class="example-preview">
          <span>{{ "HOME.SERVICES_API_TRADE_EXECUTION_SDK_EXP" | translate }}</span>

          <div class="separator separator-dashed my-6">
            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              {{ "SHARED.LEARN_MORE" | translate }} &rarr;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="mr-2 mb-2">
      <span style="color: #aaa;line-height: 1.25;font-weight: 500;letter-spacing: 0.075em;">
        {{'HOME.INTEGRATIONS_BREATH' | translate}}
      </span>
      <div class="text-black" style="font-size: 40px">
        <b>          
          {{'HOME.INTEGRATION_BREATH_HEADER' | translate}}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{'HOME.INTEGRATION_BREATH_EXP' | translate}}
      </span>
    </div>
    <div class="text-primary font-weight-bolder font-size-h6">
      <a href="#">
        <b>{{'HOME.ALL_INTEGRATIONS' | translate}} &rarr; </b>
      </a>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="./assets/media/logos/nexo.svg" width="150px" />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <p class="text-black" style="font-size: 20px">
          "{{"HOME.NEXO_EXP" | translate }}"
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <span class="text-black" style="font-size: 14px">
          <b>Antoni Trenchev</b>
        </span>
        <span class="text-black" style="font-size: 14px">
          <b> &nbsp; - &nbsp; </b>
        </span>

        <span class="text-black opacity-55" style="font-size: 14px">
          <b>{{"HOME.NEXO_PARTNER" | translate }}</b>
        </span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="text-primary font-weight-bolder font-size-h6">
          <a href="#">
            <b>{{ "SHARED.READ_CASE_STUDY" | translate }} &rarr; </b>
          </a>
        </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-20 line"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-20">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span
          style="
            color: #aaa;
            line-height: 1.25;
            font-weight: 500;
            letter-spacing: 0.075em;
          "
          >{{'HOME.NEWSROOM' | translate}}</span
        >
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span style="font-size: 2.25em; font-weight: 700">{{'HOME.IN_THE_NEWS' | translate}}</span>
      </div>
    </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-custom-bottom example example-compact gutter-b ng-star-inserted" style="background-color: black;">
          <div class="card-header news">
            <div class="card-title">
              <h3 class="card-label">
                <img src="./assets/media/logos/Forbes.svg" width="125px"/>
              </h3>
            </div>
          </div>
          <div class="card-body">
              <div class="text-white mb-2">
                <span>"{{ "HOME.FORBES_EXP" | translate }}"</span>
              </div>

              <div class="text-white opacity-55 mb-2" style="font-size: 14px">
                <span>
                  <b>{{ "HOME.FORBES_DATE" | translate }}</b>
                </span>
              </div>

              <div class="text-primary font-weight-bolder font-size-h6">
                <a href="https://www.forbes.com/sites/benjessel/2020/05/27/cryptocurrency-custody-giant-bitgo-launches-institutional-trading-service/?sh=46b1056163a6">
                  <b>{{ "SHARED.READ_CASE_STUDY" | translate }} &rarr; </b>
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-custom-bottom example example-compact gutter-b ng-star-inserted" style="background-color: #161F36;">
          <div class="card-header news">
            <div class="card-title">
              <h3 class="card-label">
                <img src="./assets/media/logos/coindesk.svg" width="125px"/>
              </h3>
            </div>
          </div>
          <div class="card-body">
              <div class="text-white mb-2">
                <span>"{{ "HOME.COINDESK_EXP" | translate }}"</span>
              </div>
              
              <div class="text-white opacity-55 mb-2" style="font-size: 14px">
                <span>
                  <b>{{ "HOME.COINDESK_DATE" | translate }}</b>
                </span>
              </div>
              
              <div class="text-primary font-weight-bolder font-size-h6">
                <a href="https://www.coindesk.com/bitgo-custody-india-largest-crypto-bitcoin-exchange-coindcx">
                  <b>{{ "SHARED.READ_CASE_STUDY" | translate }} &rarr; </b>
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-custom-bottom example example-compact gutter-b ng-star-inserted">
          <div class="card-header news">
            <div class="card-title">
              <h3 class="card-label">
                <img src="./assets/media/logos/fortune_logo.png" width="125px"/>
              </h3>
            </div>
          </div>
          <div class="card-body">
              <div class="mb-2">
                <span>"{{ "HOME.FORTUNE_EXP" | translate }}"</span>
              </div>

              <div class="text-black opacity-55 mb-2" style="font-size: 14px">
                <span>
                  <b>{{ "HOME.FORTUNE_DATE" | translate }}</b>
                </span>
              </div>
              
              <div class="text-primary font-weight-bolder font-size-h6"> 
                <a href="https://fortune.com/2020/04/16/bitgo-buys-lumina-crypto/">
                  <b>{{ "SHARED.READ_CASE_STUDY" | translate }} &rarr; </b>
                </a>
              </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="text-primary font-weight-bolder font-size-h6"> 
          <a href="#">
            <b>{{ "SHARED.SEE_NEWSROOM" | translate }} &rarr; </b>
          </a>
        </div>
      </div>
  </div>
</div>
