.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  font-size: large;
}

.marquee div {
  display: flex;
  height: 50px;
  padding-top: 15px;  
  position: relative;
  overflow: hidden;
  animation: marquee 25s linear infinite;
}

.marquee div:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.marquee span {
  float: left;
  color:white;
  margin-right: 25px;
  white-space: nowrap; 
}

.marquee span:hover {
    color: red;
}

@keyframes marquee {
  0% { left: 100%; }
  100% { left: -100%; }
}

.line {
  border-top: 1px solid #e0e0e0;
}

.services {
  height: 225px;
}

.news {
  height: 80px;
  background-color: transparent;
}