<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-3 marquee">
    <div>
      <span><b>BTC</b>&nbsp;16,588.39</span>
      <span><b>XRP</b>&nbsp;6.32</span>
      <span><b>ETH</b>&nbsp;305.36</span>
      <span><b>EOS</b>&nbsp;28.44</span>
      <span><b>USDT</b>&nbsp;1.01</span>
      <span><b>LTC</b>&nbsp;325.61</span>
      <span><b>XLM</b>&nbsp;0.10</span>
      <span><b>TRX</b>&nbsp;19.23</span>
      <span><b>BSV</b>&nbsp;18.88</span>
      <span><b>ADA</b>&nbsp;7.81</span>
    </div>
  </div>

  <app-notice>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <b class="header-text"> {{ "MENU.HEADER_TEXT" | translate }} </b>

      <p class="mt-2">
        BitGo enables our clients to navigate the complex landscape of digital
        assets with a connected, compliant, and secure suite of solutions.
      </p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="#" class="btn btn-primary mr-2">
        {{ "MENU.CONNECT_WITH_US" | translate }}
      </a>
      <a href="#" class="btn btn-default mr-2">
        {{ "MENU.EXPLORE_SERVICES" | translate }}
      </a>
    </div>
  </app-notice>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
        >INSTITUTIONAL DIGITAL ASSET PLATFORM</span
      >
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12">
      <a class="text-dark font-weight-bolder font-size-h3 mt-2">
        {{ "MENU.SERVICES_CUSTODY" | translate }}
      </a>
      <br />
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <i class="fab fa-btc fa-3x"> </i>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_CUSTODY_WALLET_PLATFORM" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_WALLET_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-archive fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_CUSTODY_QUALIFIED" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_QUALIFIED_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-project-diagram fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_CUSTODY_SELF_MANAGED" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_CUSTODY_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <a class="text-dark font-weight-bolder font-size-h3 mt-2">
        {{ "MENU.SERVICES_PRIME_SERVICES" | translate }}
      </a>
      <br />
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-sync fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_PS_PRIME_TRADING" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_PRIME_TRADING_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-money-bill fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_PS_PRIME_LANDING" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_PRIME_LANDING_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-coins fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_PS_SETTLEMENT" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_SETTLEMENT_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <a class="text-dark font-weight-bolder font-size-h3 mt-2">
        {{ "MENU.SERVICES_PORTFOLIO_TOOLS" | translate }}
      </a>
      <br />
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-chart-bar fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_PT_PORTFOLIO_MANAGEMENT" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_PT_PORTFOLIO_MANAGEMENT_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-file-invoice fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_PT_TAX" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_PT_TAX_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <a class="text-dark font-weight-bolder y font-size-h3 mt-2">
        {{ "MENU.SERVICES_API" | translate }}
      </a>
      <br />
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-code fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_API_WALLETS_SDK" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_API_WALLETS_SDK_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
      <br />
      <div class="card card-custom">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1 pb-5">
            <div class="d-flex align-items-center pr-2 mb-6">
              <div class="symbol symbol-50">
                <i class="fas fa-terminal fa-3x"> </i>
              </div>
            </div>

            <a
              href="#"
              class="text-dark font-weight-bolder text-hover-primary font-size-h6"
            >
              {{ "MENU.SERVICES_API_TRADE_EXECUTION_SDK" | translate }}
            </a>

            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
              {{ "MENU.SERVICES_API_TRADE_EXECUTION_SDK_EXP" | translate }}
            </p>

            <a href="#" class="text-primary font-weight-bolder font-size-h6">
              Learn More →
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div
      class="col-lg-6 col-md-6 col-sm-12"
      style="height: 300px !important; overflow: hidden"
    >
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 integration-card">
          <img
            src="./assets/media/integrations/kraken.png"
            width="100%"
            height="120px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <span
          style="
            color: #aaa;
            line-height: 1.25;
            font-weight: 500;
            letter-spacing: 0.075em;
          "
          >INTEGRATIONS BREADTH</span
        >
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <h2 class="text-black" style="font-size: 40px">
          <b>Support for the providers you already use</b>
        </h2>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <p style="font-size: 1.25rem; line-height: 1.5">
          No matter what exchanges, OTC desks, or brokers you use for trade or
          what custodial services or wallets you use for custody, BitGo ingests
          and resolves your present and historical transactions automatically to
          unlock holistic views across performance, positions, and tax.
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-20">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="./assets/media/logos/nexo.svg" width="150px" />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="py-2 text-black" style="font-size: 20px">
          "API is one of the major reasons we chose BitGo, since the scale of
          our business and the thousands of transactions we process each week
          can only be facilitated in an automated manner via a robust API
          solution."
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="text-black" style="font-size: 14px">
          <b>Antoni Trenchev</b>
        </span>
        <span class="text-black" style="font-size: 14px">
          <b> &nbsp; - &nbsp; </b>
        </span>

        <span class="text-black opacity-55" style="font-size: 14px">
          <b>Co-Founder and Managing Partner, Nexo</b>
        </span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="py-2 text-black" style="font-size: 14px">
          <a class="blue no-underline" href="/integrations">
            <b>Read Case Study &rarr; </b>
          </a>
        </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-20 line"></div>
  </div>

  <div class="row mt-20">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span
          style="
            color: #aaa;
            line-height: 1.25;
            font-weight: 500;
            letter-spacing: 0.075em;
          "
          >NEWSROOM</span
        >
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span style="font-size: 2.25em; font-weight: 700">In The News</span>
      </div>
    </div>
    
      <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 20px">
        <div
          class="card card-custom bgi-no-repeat"
          style="
            background-color: white;
            background-position: right 50% top 5%;
            background-size: 150px;
            background-image: url('./assets/media/logos/Forbes_logo.png');
          "
        >
          <div class="card-body d-flex align-items-center">
            <div>
              <div class="row" style="text-align: center; padding-top: 5px">
                <span class="py-3 text-black" style="font-size: 18px">
                  "Bitcoin Custody Giant Bitgo Launches Institutional Trading
                  Service"
                </span>
              </div>
              <div class="row">
                <span class="text-black opacity-55" style="font-size: 14px">
                  <b>May 27, 2020</b>
                </span>
              </div>
              <div class="row">
                <span class="py-2 text-black" style="font-size: 14px">
                  <a class="blue no-underline" href="/integrations">
                    <b>Read Case Study &rarr; </b>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 20px">
        <div
          class="card card-custom bgi-no-repeat"
          style="
            background-color: white;
            background-position: right 50% top 1%;
            background-size: 125px;
            background-image: url('./assets/media/logos/coindesk_logo.png');
          "
        >
          <div class="card-body d-flex align-items-center">
            <div>
              <div class="row" style="text-align: center; padding-top: 5px">
                <span class="py-3 text-black" style="font-size: 18px">
                  "BitGo now providing Custody for India's Largest Crypto
                  Exchange"
                </span>
              </div>
              <div class="row">
                <span class="text-black opacity-55" style="font-size: 14px">
                  <b>May 27, 2020</b>
                </span>
              </div>
              <div class="row">
                <span class="py-2 text-black" style="font-size: 14px">
                  <a class="blue no-underline" href="/integrations">
                    <b>Read Case Study &rarr; </b>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 20px">
        <div
          class="card card-custom bgi-no-repeat"
          style="
            background-color: white;
            background-position: right 50% top 10%;
            background-size: 125px;
            background-image: url('./assets/media/logos/fortune_logo.png');
          "
        >
          <div class="card-body d-flex align-items-center">
            <div>
              <div class="row" style="text-align: center; padding-top: 5px">
                <span class="py-3 text-black" style="font-size: 18px">
                  "BitGo buys portfolio service Lumina in bid to bulk up crypto offerings"
                </span>
              </div>
              <div class="row">
                <span class="text-black opacity-55" style="font-size: 14px">
                  <b>May 27, 2020</b>
                </span>
              </div>
              <div class="row">
                <span class="py-2 text-black" style="font-size: 14px">
                  <a class="blue no-underline" href="/integrations">
                    <b>Read Case Study &rarr; </b>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
