<div class="card card-custom gutter-b">
  <div
    class="card-body d-flex align-items-center justify-content-between flex-wrap"
  >
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <h3 class="font-weight-bolder">
        <span>{{ "PRIME_TRADING.HEADER" | translate }}</span>
      </h3>
      <div class="text-dark-50 font-size-lg mt-2">
        <span>{{ "PRIME_TRADING.HEADER_EXP" | translate }}</span>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="#" class="btn btn-primary font-weight-bold py-3 px-6">{{
        "SHARED.CONNECT_WITH_US" | translate
      }}</a>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b mt-10">
  <div
    class="card-body d-flex align-items-center justify-content-between flex-wrap"
  >
    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_TRADING.FIRST_OF_ITS_KIND" | translate }}
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>
          {{ "PRIME_TRADING.FIRST_OF_ITS_KIND_HEADER" | translate }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{ "PRIME_TRADING.FIRST_OF_ITS_KIND_HEADER_EXP" | translate }}
      </span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_TRADING.NO_CONFLICTS_OF_INTEREST" | translate }}
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>
          {{ "PRIME_TRADING.NO_CONFLICTS_OF_INTEREST_HEADER" | translate }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{ "PRIME_TRADING.NO_CONFLICTS_OF_INTEREST_HEADER_EXP" | translate }}
      </span>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div
    class="card-body d-flex align-items-center justify-content-between flex-wrap"
  >
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_TRADING.A_CONNECTED_EXPERIENCE" | translate }}
      </span>
      <div class="text-black" style="font-size: 40px">
        <b>
          {{
            "PRIME_TRADING.A_CONNECTED_EXPERIENCE_HEADER"
              | translate
          }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{ "PRIME_TRADING.A_CONNECTED_EXPERIENCE_HEADER_EXP" | translate }}
      </span>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div
    class="card-body d-flex align-items-center justify-content-between flex-wrap"
  > 
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_TRADING.RELATIONSHIP_BASED_TRADING" | translate }}
      </span>
      <div class="text-black" style="font-size: 40px">
        <b>
          {{
            "PRIME_TRADING.RELATIONSHIP_BASED_TRADING_HEADER"
              | translate
          }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{ "PRIME_TRADING.RELATIONSHIP_BASED_TRADING_HEADER_EXP" | translate }}
      </span>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-20 mb-20 line"></div>

    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <img src="./assets/media/logos/bitstamp.svg"  width="150px" />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <p class="text-black" style="font-size: 20px">
          "{{
            "PRIME_TRADING.BITSTAMP_EXP"
              | translate
          }}"
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <span class="text-black" style="font-size: 14px">
          <b>Nejc Kodrič</b>
        </span>
        <span class="text-black" style="font-size: 14px">
          <b> &nbsp; - &nbsp; </b>
        </span>

        <span class="text-black opacity-55" style="font-size: 14px">
          <b>{{ "PRIME_TRADING.BITSTAMP_PARTNER" | translate}}</b>
        </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>
  </div>
</div>