<div class="card card-custom gutter-b">
  <div
    class="card-body d-flex align-items-center justify-content-between flex-wrap"
  >
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <h3 class="font-weight-bolder">
        <span>{{ "PRIME_LENDING.HEADER" | translate }}</span>
      </h3>
      <div class="text-dark-50 font-size-lg mt-2">
        <span>{{ "PRIME_LENDING.HEADER_EXP" | translate }}</span>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="#" class="btn btn-primary font-weight-bold py-3 px-6">{{
        "SHARED.CONNECT_WITH_US" | translate
      }}</a>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b mt-10">
  <div
    class="card-body d-flex align-items-center justify-content-between flex-wrap"
  >
    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_LENDING.BORROW_AND_LEND_WITH_CONFIDENCE" | translate }}
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>
          {{ "PRIME_LENDING.BORROW_AND_LEND_WITH_CONFIDENCE_HEADER" | translate }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{ "PRIME_LENDING.BORROW_AND_LEND_WITH_CONFIDENCE_HEADER_EXP" | translate }}
      </span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_LENDING.EXECUTE_WITH_SPEED" | translate }}
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>
          {{ "PRIME_LENDING.EXECUTE_WITH_SPEED_HEADER" | translate }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{ "PRIME_LENDING.EXECUTE_WITH_SPEED_HEADER_EXP" | translate }}
      </span>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-20 mb-20 line"></div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span
        style="
          color: #aaa;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.075em;
        "
      >
        {{ "PRIME_LENDING.LOANS_ARE_COLLATERALIZED" | translate }}
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>
          {{ "PRIME_LENDING.LOANS_ARE_COLLATERALIZED_HEADER" | translate }}
        </b>
      </div>
      <div class="text-primary font-weight-bolder font-size-h6">
        <a href="#">
          <b>{{ "HOME.ALL_INTEGRATIONS" | translate }} &rarr; </b>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/bitcoin.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>Bitcoin</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      BTC
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/bitcoin_cash.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>Bitcoin Cash</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      BCH
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/litecoin.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>Litecoin</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      LTC
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/etherium.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>Ethereum</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      ETH
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/dash.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>Dash</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      DASH
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/anchorUSD.jpg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>AnchorUSD</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      USDX
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/usd_coin.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>USD Coin</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      USDC
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/tether.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>Tether</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      USDT
                    </p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
          <div class="card card-custom currencies">
            <div class="card-body d-flex flex-column">
                <div class="text-center">
                    <img src="./assets/media/logos/usd.svg" class="mb-2" style="height: 32px"/>

                    <p class="mb-2" style="font-weight: 600; line-height: 1.25; color: rgba(0,0,0,.7);">
                      <b>US Dollar</b>
                    </p>
                    <p style="font-weight: 600; line-height: 1.25; color: #999; font-size: 0.875rem;">
                      USD
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>