<div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <p style="font-size: 30px">
            <b style="color: white;">{{'QUALIFIED_CUSTODY.HEADER' | translate}}
            </b>
        </p>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <p style="font-size: 20px">
            <b style="color: white;"> {{'QUALIFIED_CUSTODY.HEADER_EXP' | translate}} </b>
        </p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <a href="#" class="btn btn-white font-weight-bold py-3 px-6 mr-2">
            Connect With Us
        </a>
    </div>
</div>
<div class="row mt-30">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <p style="font-size: 38px">
            <b style="color: black;"> {{'QUALIFIED_CUSTODY.SUB_GOLD' | translate}}</b>
        </p>
        <span style="color: black; font-size: 16px"> 
            {{'QUALIFIED_CUSTODY.SUB_GOLD_EXP' | translate}}
        </span>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 py-5" style="padding-left: 30px; background-color: black; opacity: 0.8;">
        <div class="row" style="padding-top: 20px;">
            <div class="col" style="color:white;">
                <p style="font-size: 24px; margin-bottom: 0px !important;">
                    {{'QUALIFIED_CUSTODY.TABLE_1ST' | translate}}
                </p>
                <span style="font-size: 14px; opacity: 0.5; margin-top: 0px !important;">
                    {{'QUALIFIED_CUSTODY.TABLE_1ST_EXP' | translate}}
                </span>
            </div>
            <div class="col" style="color:white;">
                <p style="font-size: 24px; margin-bottom: 0px !important;">
                    300+
                </p>
                <span style="font-size: 14px; opacity: 0.5; margin-top: 0px !important;">
                    {{'QUALIFIED_CUSTODY.TABLE_300Coins' | translate}}
                </span>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col" style="color:white;">
                <p style="font-size: 24px; margin-bottom: 0px !important;">
                    300+
                </p>
                <span style="font-size: 14px; opacity: 0.5; margin-top: 0px;">
                    {{'QUALIFIED_CUSTODY.TABLE_300Customers' | translate}}
                </span>
            </div>
            <div class="col" style="color:white;  margin-bottom: 0px;">
                <p style="font-size: 24px; margin-bottom: 0px !important;">
                    $325+ {{'QUALIFIED_CUSTODY.BILLION' | translate}}
                </p>
                <span style="font-size: 14px; opacity: 0.5; margin-top: 0px;">
                    {{'QUALIFIED_CUSTODY.TABLE_T_EXP' | translate}}
                </span>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col" style="color:white;  margin-bottom: 0px;">
                <p style="font-size: 24px; margin-bottom: 0px !important;">
                    150+
                </p>
                <span style="font-size: 14px; opacity: 0.5; margin-top: 0px;">
                    {{'QUALIFIED_CUSTODY.TABLE_150C' | translate}}
                </span>
            </div>
            <div class="col" style="color:white;  margin-bottom: 0px;">
                <p style="font-size: 24px; margin-bottom: 0px !important;">
                    $20+ {{'QUALIFIED_CUSTODY.BILLION' | translate}}
                </p>
                <span style="font-size: 14px; opacity: 0.5; margin-top: 0px;">
                    {{'QUALIFIED_CUSTODY.TABLE_VOL' | translate}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 py-30">
        <p style="font-size: 38px">
            <b style="color: black;"> {{'QUALIFIED_CUSTODY.TRANSFERRING_FUNDS' | translate}}</b>
        </p>
        <span style="color: black; font-size: 16px"> 
            {{'QUALIFIED_CUSTODY.TRANSFERRING_FUNDS_EXP' | translate}}
        </span>
        <div class="row">
            <div class="col lg-3-md-12 sm-12 py-5" style="border-style: ridge; margin-left: 30px;" >
                <div class="d-flex align-items-center pr-3 mb-6">
                    <div class="symbol symbol-50">
                        <i class="fas fa-wallet fa-3x" >
                        
                        </i>
                    </div>
                </div>
                <!--end::Info-->
        
                <!--begin::Link-->
                <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
                >
                {{'QUALIFIED_CUSTODY.STEP' | translate}} 1
                </a>
                <!--end::Link-->
        
                <!--begin::Desc-->
                <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                    {{'QUALIFIED_CUSTODY.STEP1' | translate}}
                </p>
            
            </div>
            <div class="col lg-3-md-12 sm-12 py-5" style="border-style: ridge; margin-left: 30px;" >
                <div class="d-flex align-items-center pr-3 mb-6">
                    <div class="symbol symbol-50">
                        <i class="fas fa-id-card fa-3x" >
                        
                        </i>
                    </div>
                </div>
                <!--end::Info-->
        
                <!--begin::Link-->
                <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
                >
                {{'QUALIFIED_CUSTODY.STEP' | translate}} 2
                </a>
                <!--end::Link-->
        
                <!--begin::Desc-->
                <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                    {{'QUALIFIED_CUSTODY.STEP2' | translate}}
                </p>
            
            </div>
            <div class="col lg-3-md-12 sm-12 py-5" style="border-style: ridge; margin-left: 30px;" >
                <div class="d-flex align-items-center pr-3 mb-6">
                    <div class="symbol symbol-50">
                        <i class="fas fa-file-signature fa-3x" >
                        
                        </i>
                    </div>
                </div>
                <!--end::Info-->
        
                <!--begin::Link-->
                <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
                >
                {{'QUALIFIED_CUSTODY.STEP' | translate}} 3
                </a>
                <!--end::Link-->
        
                <!--begin::Desc-->
                <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                    {{'QUALIFIED_CUSTODY.STEP3' | translate}}
                </p>
            
            </div>
            <div class="col lg-3-md-12 sm-12 py-5" style="border-style: ridge; margin-left: 30px;" >
                <div class="d-flex align-items-center pr-3 mb-6">
                    <div class="symbol symbol-50">
                        <i class="fas fa-signature fa-3x" >
                        
                        </i>
                    </div>
                </div>
                <!--end::Info-->
        
                <!--begin::Link-->
                <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
                >
                {{'QUALIFIED_CUSTODY.STEP' | translate}} 4
                </a>
                <!--end::Link-->
        
                <!--begin::Desc-->
                <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                    {{'QUALIFIED_CUSTODY.STEP4' | translate}}
                </p>
            
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 py-30"> 
        <p style="font-size: 34px">
            <b style="color: black;"> {{'QUALIFIED_CUSTODY.INSURANCE_HEADER' | translate}}</b>
        </p>
        <span style="color: black; font-size: 16px"> 
            {{'QUALIFIED_CUSTODY.INSURANCE_HEADER_EXP' | translate}}
        </span>
        <div class="col-lg-12 col-md-12 col-sm-12 py-5" style="padding-left: 0px">
            <span style="color: black; font-size: 16px; "> 
                {{'QUALIFIED_CUSTODY.INSURANCE_UL' | translate}}
             </span>
            <ul class="py-3"> 
               <li> {{'QUALIFIED_CUSTODY.INSURANCE_LI1' | translate}}</li>
               <li>{{'QUALIFIED_CUSTODY.INSURANCE_LI2' | translate}}</li>
               <li>{{'QUALIFIED_CUSTODY.INSURANCE_LI3' | translate}}</li>
               <li>{{'QUALIFIED_CUSTODY.INSURANCE_LI4' | translate}}</li>
            </ul>          
            <span style="color: black; font-size: 16px; "> 
                {{'QUALIFIED_CUSTODY.INSURANCE_EXP' | translate}}
            </span>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 py-30" >
        <p style="font-size: 34px">
            <b style="color: black;"> {{'QUALIFIED_CUSTODY.COLD_STORAGE_HEADER' | translate}}</b>
        </p>
        <span style="color: black; font-size: 16px">
            {{'QUALIFIED_CUSTODY.COLD_STORAGE_EXP' | translate}}
        </span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 py-30" style="padding-left: 0px;">
        <marquee class="marquee-providers" direction="up" scrollamount="3">
            
            <div class="marquee-content-providers" >
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
            </div>
            
            <div class="marquee-content-providers" >
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
            </div>

            <div class="marquee-content-providers" >
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
            </div>
        </marquee>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 py-25" style="padding-left: 40px; margin-top: 30px;">
        <div class=row>
            <span class="py-1 text-black opacity-55">
                <b>{{'DASHBOARD.INTEGRATIONS_BREATH' | translate}}</b>
            </span>
        </div>
        <div class=row>
            <h2 class="text-black" style="font-size: 34px;"><b>{{'QUALIFIED_CUSTODY.INTEGRATIONS_BREATH_HEADER' | translate}}</b></h2>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                {{'QUALIFIED_CUSTODY.INTEGRATIONS_BREATH_EXP' | translate}}
            </span>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                <a class="blue no-underline" href="/integrations">
                    <b>{{'DASHBOARD.ALL_INTEGRATIONS' | translate}} &rarr; </b>
                </a>
            </span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 py-25" style="padding-left: 40px; margin-top: 30px;">
        <div class=row>
            <span class="py-1 text-black opacity-55">
                <b>BITGO WALLETS</b>
            </span>
        </div>
        <div class=row>
            <h2 class="text-black" style="font-size: 34px;"><b>{{'QUALIFIED_CUSTODY.HOT_COLD_WALLET' | translate}}</b></h2>
        </div>
        <div class="row py-3" style="font-size: 14px !important; ">
            <div class="card card-custom col-lg-4 col-md-4 col-sm-12">
                <div style="height: 80px;">
                    <p style="font-size: large !important; padding-top: 10px;">
                        <b>BitGo Custody</b>
                    </p>
                    <span class="py-1 text-black opacity-55">
                        <b>The only qualified custodian purpose-built for digital assets</b>
                    </span>
                </div>
                <hr>
                <div style="height: 200px; padding-top: 20px;">
                    <ul>
                        <b>
                            <li>Cold storage & hot wallet access via the web and API</li>
                            <br>
                            <li>$1 million USD minimum account value</li>
                            <br>
                            <li>300+ coins and tokens supported</li>
                            <br>
                            <li>24/7 global customer support</li>
                        </b>
                    </ul>
                </div>
                <hr>
                <div>
                    <span>Low start up and Assets Under Custody fees</span>
                    <span>Hold assets with qualified custodian BitGo Trust Company, read more here</span>
                </div>
            </div>
            <div class="card card-custom col-lg-4 col-md-4 col-sm-12">
                <div style="height: 80px;">
                    <p style="font-size: large !important; padding-top: 10px;">
                        <b>BitGo Business Wallet</b>
                    </p>
                    <span class="py-1 text-black opacity-55">
                        <b>The only institutional-grade, multi-signature, multi-coin transactional wallet</b>
                    </span>
                </div>
                <hr>
                <div style="height: 200px; padding-top: 20px;">
                    <ul>
                        <b>
                            <li>Hot wallet access via the web and API</li>
                            <br>
                            <li>$1 million USD minimum monthly transaction volume</li>
                            <br>
                            <li>300+ coins and tokens supported</li>
                            <br>
                            <li>24/7 global customer support</li>
                        </b>    
                    </ul>
                </div>
                <hr>
                <div>
                    <span>Variable fee based on transaction volume</span>
                </div>
            </div>
            <div class="card card-custom col-lg-4 col-md-4 col-sm-12">
                <div style="height: 80px;">
                    <p style="font-size: large !important; padding-top: 10px;">
                        <b>BitGo Pay As You Go</b>
                    </p>
                    <span class="py-1 text-black opacity-55">
                        <b>The leading multi-signature hot wallet for individuals</b>
                    </span>
                </div>
                <hr>
                <div style="height: 200px; padding-top: 20px;">
                    <ul>
                        <b>
                            <li>Cold storage & hot wallet access via the web and API</li>
                            <br>
                            <li>No contract</li>
                            <br>
                            <li>Bitcoin, Bitcoin Cash, Bitcoin Gold, Litecoin, Zcash, Stellar, and Dash support only</li>
                            <br>
                            <li>Email support only</li>
                        </b>    
                    </ul>
                </div>
                <hr>
                <div>
                    <span>0.25% per withdrawal (1% for Bitcoin Gold)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
        <hr>
        <span class="py-1 text-black opacity-55">
            BitGo Qualified Custody is offered through BitGo Trust Company, Inc.
        </span>
            <a class="blue no-underline" href="/legal">
                Learn More →
            </a>
        <hr>
    </div >
    <div class="col-lg-3 col-md-2 col-sm-2" >
            
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8" style="padding-top: 60px;">
        <div class="row">
            <img style="margin-left: 8px;" src="./assets/media/logos/nexo.svg" width="150px"/>
        </div>
        <div class="row" style="padding-top: 20px;">

            <span class="py-2 text-black" style="font-size: 20px;">
                "API is one of the major reasons we chose BitGo, 
                since the scale of our business and the thousands of transactions 
                we process each week can only be facilitated in an automated manner 
                via a robust API solution."
            </span>
        </div>
        <div class="row">
            <span class="text-black" style="font-size: 14px;">
                <b>Antoni Trenchev</b>
            </span>
            <span class="text-black" style="font-size: 14px;">
                <b> &nbsp; - &nbsp; </b>
            </span>
            
            <span class="text-black opacity-55" style="font-size: 14px;">
                <b>Co-Founder and Managing Partner, Nexo</b>
            </span>
        </div>
        <div class="row">
            <span class="py-2 text-black" style="font-size: 14px;">
                <a class="blue no-underline" href="/integrations">
                    <b>Read Case Study &rarr; </b>
                </a>
            </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-2">

    </div>
</div>