<div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <p style="font-size: 30px">
            <b style="color: white;">Securely integrate digital assets into your portfolio</b>
        </p>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12" >
        <p style="font-size: 20px; margin-bottom: 2px !important;">
            <b style="color: white;"> BitGo’s wallet platform creates an ideal balance between security
                and accessibility—enabling clients to move assets seamlessly and reliably,
                 protected by BitGo’s pioneering multi-signature security, multi-user policy controls,
                  and advanced security configurations. BitGo wallets are accessible via native web 
                  interface or API, making them ideal for fully white-labeled wallet applications and 
                  products.
            </b>
        </p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <a href="#" class="btn btn-white font-weight-bold py-3 px-6 mr-2">
            Connect With Us
        </a>
    </div>
</div>
<div class="row" style="margin-top:60px;">
    <div class="col-lg-6 col-md-6 col-sm-12" >
        <div class=row>
            <span class="py-1 text-black opacity-55">
                <b>SECURITY WITH CUSTOMIZABLE POLICY FEATURES
                </b>
            </span>
        </div>
        <div class=row>
            <h2 class="text-black" style="font-size: 34px;"><b>Security designed to fit your needs
            </b></h2>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                BitGo offers flexible wallet security and transaction policy features to address
                 a range of business needs. Protect your wallet against any single point of failure 
                 with BitGo's multi-signature security and 3-key management. Enforce controls and policies
                 using whitelists, velocity limits, and administrative approvals.
            </span>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" >
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px; text-align: center !important;">
                ŞEMA GELECEK
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top:100px;">
    <div class="col-lg-6 col-md-6 col-sm-12" style="padding-right: 40px;" >
        <div class=row>
            <span class="py-1 text-black opacity-55">
                <b>STRICT POLICIES AND PROCEDURES
                </b>
            </span>
        </div>
        <div class=row>
            <h2 class="text-black" style="font-size: 34px;"><b>SOC 2 Type 2
            </b></h2>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                BitGo Inc. has successfully completed a SOC 2 Type 2 audit for its hot wallet platform. 
                We are committed to securely managing your data and protecting both the interests 
                of your organization and the privacy of your clients. BitGo has established 
                and follows strict policies and procedures encompassing information security, 
                processing, integrity, and confidentiality to provide the highest quality solutions
                and the safest, most secure environment for your sensitive data.
            </span>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" >
        <div class=row>
            <span class="py-1 text-black opacity-55">
                <b>PROTECT YOUR ASSETS
                </b>
            </span>
        </div>
        <div class=row>
            <h2 class="text-black" style="font-size: 34px;"><b>Key recovery service insurance
            </b></h2>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                Key recovery service (KRS) insurance for self-custodied keys are available through
                 a trusted third-party provider. Protect your digital assets against loss or theft 
                 and have total peace of mind.
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 py-30" style="padding-left: 0px;">
        <marquee class="marquee-providers" direction="up" scrollamount="3">
            
            <div class="marquee-content-providers" >
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
            </div>
            
            <div class="marquee-content-providers" >
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
            </div>
    
            <div class="marquee-content-providers" >
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px"/>
                <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px"/>
            </div>
        </marquee>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 40px; margin-top: 70px;">
        <div class=row>
            <span class="py-1 text-black opacity-55">
                <b>INTEGRATIONS BREADTH</b>
            </span>
        </div>
        <div class=row>
            <h2 class="text-black" style="font-size: 34px;"><b>Support for the assets you care about</b></h2>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                BitGo supports a wide variety of digital assets across our entire 
                platform through custody, Prime, trade, and portfolio & tax.
            </span>
        </div>
        <div class=row>
            <span class="py-2 text-black" style="font-size: 18px;">
                <a class="blue no-underline" href="/integrations">
                    <b>All Integrations &rarr; </b>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 py-25" style="padding-left: 40px; margin-top: 30px;">
    <div class=row>
        <span class="py-1 text-black opacity-55">
            <b>BITGO WALLETS</b>
        </span>
    </div>
    <div class=row>
        <h2 class="text-black" style="font-size: 34px;"><b>Hot and Cold Wallet Solutions</b></h2>
    </div>
    <div class="row" style="font-size: 14px !important; ">
        <div class="card card-custom col-lg-4 col-md-4 col-sm-12">
            <div style="height: 80px;">
                <p style="font-size: large !important; padding-top: 10px;">
                    <b>BitGo Custody</b>
                </p>
                <span class="py-1 text-black opacity-55">
                    <b>The only qualified custodian purpose-built for digital assets</b>
                </span>
            </div>
            <hr>
            <div style="height: 200px; padding-top: 20px;">
                <ul>
                    <b>
                        <li>Cold storage & hot wallet access via the web and API</li>
                        <br>
                        <li>$1 million USD minimum account value</li>
                        <br>
                        <li>300+ coins and tokens supported</li>
                        <br>
                        <li>24/7 global customer support</li>
                    </b>
                </ul>
            </div>
            <hr>
            <div>
                <span>Low start up and Assets Under Custody fees</span>
                <span>Hold assets with qualified custodian BitGo Trust Company, read more here</span>
            </div>
        </div>
        <div class="card card-custom col-lg-4 col-md-4 col-sm-12">
            <div style="height: 80px;">
                <p style="font-size: large !important; padding-top: 10px;">
                    <b>BitGo Business Wallet</b>
                </p>
                <span class="py-1 text-black opacity-55">
                    <b>The only institutional-grade, multi-signature, multi-coin transactional wallet</b>
                </span>
            </div>
            <hr>
            <div style="height: 200px; padding-top: 20px;">
                <ul>
                    <b>
                        <li>Hot wallet access via the web and API</li>
                        <br>
                        <li>$1 million USD minimum monthly transaction volume</li>
                        <br>
                        <li>300+ coins and tokens supported</li>
                        <br>
                        <li>24/7 global customer support</li>
                    </b>    
                </ul>
            </div>
            <hr>
            <div>
                <span>Variable fee based on transaction volume</span>
            </div>
        </div>
        <div class="card card-custom col-lg-4 col-md-4 col-sm-12">
            <div style="height: 80px;">
                <p style="font-size: large !important; padding-top: 10px;">
                    <b>BitGo Pay As You Go</b>
                </p>
                <span class="py-1 text-black opacity-55">
                    <b>The leading multi-signature hot wallet for individuals</b>
                </span>
            </div>
            <hr>
            <div style="height: 200px; padding-top: 20px;">
                <ul>
                    <b>
                        <li>Cold storage & hot wallet access via the web and API</li>
                        <br>
                        <li>No contract</li>
                        <br>
                        <li>Bitcoin, Bitcoin Cash, Bitcoin Gold, Litecoin, Zcash, Stellar, and Dash support only</li>
                        <br>
                        <li>Email support only</li>
                    </b>    
                </ul>
            </div>
            <hr>
            <div>
                <span>0.25% per withdrawal (1% for Bitcoin Gold)</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-2" >
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8" style="padding-top: 60px;">
        <div class="row">
            <img style="margin-left: 8px;" src="./assets/media/logos/nexo.svg" width="150px"/>
        </div>
        <div class="row" style="padding-top: 20px;">

            <span class="py-2 text-black" style="font-size: 20px;">
                "API is one of the major reasons we chose BitGo, 
                since the scale of our business and the thousands of transactions 
                we process each week can only be facilitated in an automated manner 
                via a robust API solution."
            </span>
        </div>
        <div class="row">
            <span class="text-black" style="font-size: 14px;">
                <b>Antoni Trenchev</b>
            </span>
            <span class="text-black" style="font-size: 14px;">
                <b> &nbsp; - &nbsp; </b>
            </span>
            
            <span class="text-black opacity-55" style="font-size: 14px;">
                <b>Co-Founder and Managing Partner, Nexo</b>
            </span>
        </div>
        <div class="row">
            <span class="py-2 text-black" style="font-size: 14px;">
                <a class="blue no-underline" href="/integrations">
                    <b>Read Case Study &rarr; </b>
                </a>
            </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-2">
    </div>
</div>
    