<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p style="font-size: 30px">
            <b style="color: white;"> {{'MENU.HEADER_TEXT' | translate}}</b>
        </p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <a href="#" class="btn btn-white font-weight-bold py-3 px-6 mr-2">
            {{'MENU.CONNECT_WITH_US' | translate}}
        </a>
        <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2">
            {{'MENU.EXPLORE_SERVICES' | translate}}
        </a>
    </div>

    <div class="mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 marquee">
            <div>
                <span>BTC &nbsp;<b>16,588.39</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>XRP &nbsp;<b>6.32</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>ETH &nbsp;<b>305.36</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>EOS &nbsp;<b>28.44</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>USDT &nbsp;<b>1.01</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>LTC &nbsp;<b>325.61</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>XLM &nbsp;<b>0.10</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>TRX &nbsp;<b>19.23</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>BSV &nbsp;<b>18.88</b></span>
                <span>&nbsp;<b>&nbsp;</b></span>
                <span>ADA &nbsp;<b>7.81</b></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="text-dark font-weight-bolder font-size-h3">
                    {{'MENU.SERVICES_CUSTODY' | translate}}
                </a>
                <br>
                <br>
                <!--begin::1st Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <i class="fab fa-btc fa-3x">

                                </i>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_CUSTODY_WALLET_PLATFORM' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_WALLET_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::First Card-->
                <br>
                <!--begin::2nd Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-archive fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_CUSTODY_QUALIFIED' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_QUALIFIED_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::2nd Card-->
                <br>
                <!--begin::3rd Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-project-diagram fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_CUSTODY_SELF_MANAGED' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_CUSTODY_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::3rd Card-->
            </div>
            <div div class="col-lg-3 col-md-3 col-sm-12">
                <a class="text-dark font-weight-bolder font-size-h3">
                    {{'MENU.SERVICES_PRIME_SERVICES' | translate}}
                </a>
                <br>
                <br>
                <!--begin::1st Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-sync fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_PS_PRIME_TRADING' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_PRIME_TRADING_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::First Card-->
                <br>
                <!--begin::2nd Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-money-bill fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_PS_PRIME_LENDING' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_PRIME_LENDING_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::2nd Card-->
                <br>
                <!--begin::3rd Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-coins fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_PS_SETTLEMENT' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_SETTLEMENT_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::3rd Card-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="text-dark font-weight-bolder font-size-h3">
                    {{'MENU.SERVICES_PORTFOLIO_TOOLS' | translate}}
                </a>
                <br>
                <br>
                <!--begin::1st Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-chart-bar fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_PT_PORTFOLIO_MANAGEMENT' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_PT_PORTFOLIO_MANAGEMENT_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::First Card-->
                <br>
                <!--begin::2nd Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-file-invoice fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_PT_TAX' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_PT_TAX_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::2nd Card-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a class="text-dark font-weight-bolder y font-size-h3">
                    {{'MENU.SERVICES_API' | translate}}
                </a>
                <br>
                <br>
                <!--begin::1st Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-code fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_API_WALLETS_SDK' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_API_WALLETS_SDK_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::First Card-->
                <br>
                <!--begin::2nd Card-->
                <div class="card card-custom">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1 pb-5">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center pr-2 mb-6">
                                <div class="symbol symbol-50">
                                    <i class="fas fa-terminal fa-3x">

                                    </i>
                                </div>
                            </div>
                            <!--end::Info-->

                            <!--begin::Link-->
                            <a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-h6">
                                {{'MENU.SERVICES_API_TRADE_EXECUTION_SDK' | translate}}
                            </a>
                            <!--end::Link-->

                            <!--begin::Desc-->
                            <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                                {{'MENU.SERVICES_API_TRADE_EXECUTION_SDK_EXP' | translate}}
                            </p>
                            <!--end::Desc-->
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::2nd Card-->
            </div>

        </div>

        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 0px;">
                <marquee class="marquee-providers" direction="up" scrollamount="3">

                    <div class="marquee-content-providers">
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                    </div>

                    <div class="marquee-content-providers">
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px" />
                    </div>

                    <div class="marquee-content-providers">
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo.png" width="150px" />
                        <img style="margin-left: 8px;" src="./assets/media/logos/geliyoo-t.png" width="150px" />
                    </div>
                </marquee>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 30px; padding-top: 50px;">
                <div class=row>
                    <span class="py-1 text-black opacity-55">
                        <b>{{'DASHBOARD.INTEGRATIONS_BREATH' | translate}}</b>
                    </span>
                </div>
                <div class=row>
                    <h2 class="text-black" style="font-size: 40px;"><b>{{'DASHBOARD.INTEGRATION_BREATH_HEADER' | translate}}</b></h2>
                </div>
                <div class=row>
                    <span class="py-2 text-black" style="font-size: 18px;">
                        {{'DASHBOARD.INTEGRATION_BREATH_EXP' | translate}}
                    </span>
                </div>
                <div class=row>
                    <span class="py-2 text-black" style="font-size: 18px;">
                        <a class="blue no-underline" href="/integrations">
                            <b>{{'DASHBOARD.ALL_INTEGRATIONS' | translate}} &rarr; </b>
                        </a>
                    </span>
                </div>

            </div>
            <div class="col-lg-3 col-md-2 col-sm-2">

            </div>
            <div class="col-lg-6 col-md-8 col-sm-8" style="padding-top: 60px;">
                <div class="row">
                    <img style="margin-left: 8px;" src="./assets/media/logos/nexo.svg" width="150px" />
                </div>
                <div class="row" style="padding-top: 20px;">

                    <span class="py-2 text-black" style="font-size: 20px;">
                        "API is one of the major reasons we chose BitGo,
                        since the scale of our business and the thousands of transactions
                        we process each week can only be facilitated in an automated manner
                        via a robust API solution."
                    </span>
                </div>
                <div class="row">
                    <span class="text-black" style="font-size: 14px;">
                        <b>Antoni Trenchev</b>
                    </span>
                    <span class="text-black" style="font-size: 14px;">
                        <b> &nbsp; - &nbsp; </b>
                    </span>

                    <span class="text-black opacity-55" style="font-size: 14px;">
                        <b>Co-Founder and Managing Partner, Nexo</b>
                    </span>
                </div>
                <div class="row">
                    <span class="py-2 text-black" style="font-size: 14px;">
                        <a class="blue no-underline" href="/integrations">
                            <b>{{'DASHBOARD.READ_CASE_STUDY' | translate}} &rarr; </b>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-2">

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 20px; margin-top: 30px;">
                <h2 class="text-black" style="font-size: 30px;"><b>{{'DASHBOARD.NEWSROOM' | translate}}</b></h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 20px;">

                <div class=" card card-custom bgi-no-repeat" style="
                    background-color:white;
                    background-position: right 50% top 5%;
                    background-size: 150px;
                    background-image: url('./assets/media/logos/Forbes_logo.png');
                    
                ">
                    <!--begin::Body-->
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <div class="row " style="text-align: center; padding-top: 5px;">
                                <span class="py-3 text-black" style="font-size: 18px;">
                                    "Bitcoin Custody Giant Bitgo Launches Institutional Trading Service"
                                </span>
                            </div>
                            <div class="row">
                                <span class="text-black opacity-55" style="font-size: 14px;">
                                    <b>May 27, 2020</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="py-2 text-black" style="font-size: 14px;">
                                    <a class="blue no-underline" href="/integrations">
                                        <b>Read Case Study &rarr; </b>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 20px;">

                <div class=" card card-custom bgi-no-repeat" style="
                    background-color:white;
                    background-position: right 50% top 1%;
                    background-size: 125px;
                    background-image: url('./assets/media/logos/coindesk_logo.png');
                    
                ">
                    <!--begin::Body-->
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <div class="row " style="text-align: center; padding-top: 5px;">
                                <span class="py-3 text-black" style="font-size: 18px;">
                                    "BitGo now providing Custody for India's Largest Crypto Exchange"
                                </span>
                            </div>
                            <div class="row">
                                <span class="text-black opacity-55" style="font-size: 14px;">
                                    <b>May 27, 2020</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="py-2 text-black" style="font-size: 14px;">
                                    <a class="blue no-underline" href="/integrations">
                                        <b>Read Case Study &rarr; </b>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="padding-top: 20px;">

                <div class=" card card-custom bgi-no-repeat" style="
                    background-color:white;
                    background-position: right 50% top 5%;
                    background-size: 150px;
                    background-image: url('./assets/media/logos/Fortune_logo.png');
                    
                ">
                    <!--begin::Body-->
                    <div class="card-body d-flex align-items-center">
                        <div>
                            <div class="row " style="text-align: center; padding-top: 5px;">
                                <span class="py-3 text-black" style="font-size: 18px;">
                                    "test test test test"
                                </span>
                            </div>
                            <div class="row">
                                <span class="text-black opacity-55" style="font-size: 14px;">
                                    <b>June 20, 2020</b>
                                </span>
                            </div>
                            <div class="row">
                                <span class="py-2 text-black" style="font-size: 14px;">
                                    <a class="blue no-underline" href="/integrations">
                                        <b>Read Case Study &rarr; </b>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
</div>