<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <h3 class="font-weight-bolder">
        <span>Securely integrate digital assets into your portfolio</span>
      </h3>
      <div class="text-dark-50 font-size-lg mt-2">
        <span>BitGo’s wallet platform creates an ideal balance between security and
          accessibility—enabling clients to move assets seamlessly and reliably,
          protected by BitGo’s pioneering multi-signature security, multi-user
          policy controls, and advanced security configurations. BitGo wallets are
          accessible via native web interface or API, making them ideal for fully
          white-labeled wallet applications and products.</span>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="#" class="btn btn-primary font-weight-bold py-3 px-6">{{ "SHARED.CONNECT_WITH_US" | translate }}</a>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="mr-2">
      <span style="color: #aaa;line-height: 1.25;font-weight: 500;letter-spacing: 0.075em;">
        SECURITY WITH CUSTOMIZABLE POLICY FEATURES
      </span>
      <div class="text-black" style="font-size: 40px">
        <b>          
          Security designed to fit your needs
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        BitGo offers flexible wallet security and transaction policy features to
        address a range of business needs. Protect your wallet against any
        single point of failure with BitGo's multi-signature security and 3-key
        management. Enforce controls and policies using whitelists, velocity
        limits, and administrative approvals.
      </span>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span style="color: #aaa;line-height: 1.25;font-weight: 500;letter-spacing: 0.075em;">
        STRICT POLICIES AND PROCEDURES
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>          
          SOC 2 Type 2
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        BitGo Inc. has successfully completed a SOC 2 Type 2 audit for its hot
        wallet platform. We are committed to securely managing your data and
        protecting both the interests of your organization and the privacy of
        your clients. BitGo has established and follows strict policies and
        procedures encompassing information security, processing, integrity, and
        confidentiality to provide the highest quality solutions and the safest,
        most secure environment for your sensitive data.
      </span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
      <span style="color: #aaa;line-height: 1.25;font-weight: 500;letter-spacing: 0.075em;">
        PROTECT YOUR ASSETS
      </span>

      <div class="text-black" style="font-size: 40px">
        <b>          
          Key recovery service insurance
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        Key recovery service (KRS) insurance for self-custodied keys are
        available through a trusted third-party provider. Protect your digital
        assets against loss or theft and have total peace of mind.
      </span>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
      <span style="color: #aaa;line-height: 1.25;font-weight: 500;letter-spacing: 0.075em;">
        {{ "QUALIFIED_CUSTODY.SUPPORTED_ASSETS_AND_PROVIDERS" | translate }}
      </span>
      <div class="text-black" style="font-size: 40px">
        <b>          
          {{
            "QUALIFIED_CUSTODY.SUPPORTED_ASSETS_AND_PROVIDERS_HEADER"
              | translate
          }}
        </b>
      </div>

      <span style="font-size: 1.25rem; line-height: 1.5">
        {{"QUALIFIED_CUSTODY.SUPPORTED_ASSETS_AND_PROVIDERS_EXP" | translate}}
      </span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a href="#" class="text-primary font-weight-bolder font-size-h6">
        <b>{{'HOME.ALL_INTEGRATIONS' | translate}} &rarr; </b>
      </a>
    </div>
  </div>
</div>

<div class="card card-custom gutter-b">
  <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span
          style="
            color: #aaa;
            line-height: 1.25;
            font-weight: 500;
            letter-spacing: 0.075em;
          "
          >{{ "QUALIFIED_CUSTODY.HOT_COLD_WALLET_HEADER" | translate }}</span
        >
    </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span style="font-size: 2.25em; font-weight: 700">{{ "QUALIFIED_CUSTODY.HOT_COLD_WALLET" | translate }}</span>
      </div>

    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-custom second">
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1 pb-5">
              <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
              >
                <b>BitGo Custody</b>
              </a>
  
              <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                <b
                  >The only qualified custodian purpose-built for digital
                  assets</b
                >
              </p>
  
              <hr />
  
              <ul>
                <b>
                  <li>Cold storage & hot wallet access via the web and API</li>
                  <br />
                  <li>$1 million USD minimum account value</li>
                  <br />
                  <li>300+ coins and tokens supported</li>
                  <br />
                  <li>24/7 global customer support</li>
                </b>
              </ul>
  
              <hr />
              <div class="mb-5">
                <span>Assets covered by BitGo’s $100M policy</span>
              </div>
              <div class="mb-5">
                <span>Ability to purchase Excess Specie coverage</span>
              </div>
              <div>
                <span
                  >Hold assets with qualified custodian BitGo Trust Company, read
                  more here</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-custom second">
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1 pb-5">
              <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
              >
                <b>BitGo Business Wallet</b>
              </a>
  
              <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                <b
                  >The only institutional-grade, multi-signature, multi-coin
                  transactional wallet</b
                >
              </p>
  
              <hr />
  
              <ul>
                <b>
                  <li>Hot wallet access via the web and API</li>
                  <br />
                  <li>$1 million USD minimum monthly transaction volume</li>
                  <br />
                  <li>300+ coins and tokens supported</li>
                  <br />
                  <li>24/7 global customer support</li>
                </b>
              </ul>
  
              <hr />
              <div>
                <span>Variable fee based on transaction volume</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-custom second">
          <div class="card-body d-flex flex-column">
            <div class="flex-grow-1 pb-5">
              <a
                href="#"
                class="text-dark font-weight-bolder text-hover-primary font-size-h6"
              >
                <b>BitGo Pay As You Go</b>
              </a>
  
              <p class="text-dark-50 font-weight-normal font-size-lg mt-1">
                <b>The leading multi-signature hot wallet for individuals</b>
              </p>
  
              <hr />
  
              <ul>
                <b>
                  <li>Hot wallet access via the web and API</li>
                  <br />
                  <li>No contract</li>
                  <br />
                  <li>
                    Bitcoin, Bitcoin Cash, Bitcoin Gold, Litecoin, Zcash, Stellar,
                    and Dash support only
                  </li>
                  <br />
                  <li>Email support only</li>
                </b>
              </ul>
  
              <hr />
              <div>
                <span>0.25% per withdrawal (1% for Bitcoin Gold)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mt-20 mb-20 line"></div>

    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="./assets/media/logos/coinjar.png"  width="150px" />
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <p class="text-black" style="font-size: 20px">
          "Our mission has always been to make it as simple as possible to buy and sell cryptocurrency, while also being an industry leader in security, reliability and custody. BitGo is essential to achieving these goals."
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <span class="text-black" style="font-size: 14px">
          <b>Jordan Michaelides</b>        </span>
        <span class="text-black" style="font-size: 14px">
          <b> &nbsp; - &nbsp; </b>
        </span>

        <span class="text-black opacity-55" style="font-size: 14px">
          <b>Head of Partnerships, CoinJar</b>
        </span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="text-primary font-weight-bolder font-size-h6">
          <a href="#">
            <b>{{ "SHARED.READ_CASE_STUDY" | translate }} &rarr; </b>
          </a>
        </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-3"></div>
  </div>
</div>